<!DOCTYPE html>
<html>
<head>
  <title>GroundControl</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Players", players_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <main>
        <%= yield %>
      </main>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
